{% load static %}
{% include 'partials/_navbar.html' %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Students Database</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">

		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>

	<body>
		
				{% block navbar %}
				{% endblock %}
		
				<header class="bg-white shadow">
          <div class="max-w-7xl mx-auto py-2 px-2 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold leading-tight text-gray-900">
              {%block header %}
              {% endblock%}
            </h1>
          </div>
        </header>
        <main>
          <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <!-- Replace with your content -->
            <div class="px-4 py-6 sm:px-0">
              
              <div class="border-2 border-dashed border-gray-200 rounded-lg h-96">
                  <h1 class="text-3xl font-bold leading-tight text-gray-900">
                      {%block content%}
                      {% endblock %}
                  </h1>
              </div>
              
            </div>
            <!-- /End replace -->
          </div>
        </main>
      


		

		
	</body>

</html>
